<template>
    <div>
        <div class="row">
            <div class="col-12">
                <a href="#" class="btn btn-outline-primary" title="Добавление новой локации" v-b-modal.modal-add><i
                    class="far fa-plus-square"></i></a>

            </div>
        </div>

        <b-modal id="modal-add" size="xl" title="Добавление новой локации">
            <institution-form :user_id="user_id" v-on:submit="closeAndUpdate"></institution-form>
        </b-modal>
    </div>
</template>

<script>
    import InstitutionForm from "./InstitiutionForm"

    export default {
        props: ["user_id"],
        methods: {
            closeAndUpdate() {
                this.$bvModal.hide(`modal-add`)
                this.load()
            },
        },
        components: {
            InstitutionForm
        }
    }
</script>
