<template>
    <div>
        <b-tabs content-class="mt-3">
            <b-tab title="Все" active>
                <b-row>
                    <b-col lg="6" class="my-1">
                        <b-form-group
                            label="Сортировка"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            label-for="sortBySelect"
                            class="mb-0"
                        >
                            <b-input-group size="sm">
                                <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions" class="w-75">
                                    <template v-slot:first>
                                        <option value="">-- none --</option>
                                    </template>
                                </b-form-select>
                                <b-form-select v-model="sortDesc" size="sm" :disabled="!sortBy" class="w-25">
                                    <option :value="false">Asc</option>
                                    <option :value="true">Desc</option>
                                </b-form-select>
                            </b-input-group>
                        </b-form-group>
                    </b-col>

                    <b-col lg="6" class="my-1">
                        <b-form-group
                            label="Поиск"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            label-for="filterInput"
                            class="mb-0"
                        >
                            <b-input-group size="sm">
                                <b-form-input
                                    v-model="filter"
                                    type="search"
                                    id="filterInput"
                                    placeholder="Введите для поиска.."
                                ></b-form-input>
                                <b-input-group-append>
                                    <b-button :disabled="!filter" @click="filter = ''">Очистить</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>


                    <b-col sm="5" md="6" class="my-1">
                        <b-form-group
                            label="На странице"
                            label-cols-sm="6"
                            label-cols-md="4"
                            label-cols-lg="3"
                            label-align-sm="right"
                            label-size="sm"
                            label-for="perPageSelect"
                            class="mb-0"
                        >
                            <b-form-select
                                v-model="perPage"
                                id="perPageSelect"
                                size="sm"
                                :options="pageOptions"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col sm="7" md="6" class="my-1">
                        <b-pagination
                            v-model="currentPage"
                            :total-rows="totalRows"
                            :per-page="perPage"
                            align="fill"
                            size="sm"
                            class="my-0"
                        ></b-pagination>
                    </b-col>
                </b-row>
                <b-table
                    show-empty
                    small
                    stacked="md"
                    :items="items"
                    :fields="fields"
                    :current-page="currentPage"
                    :per-page="perPage"
                    :filter="filter"
                    :filterIncludedFields="filterOn"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                    @filtered="onFiltered"
                    :busy="loading"
                    empty-text="Нет записей для отображения"
                    empty-filtered-text="Нет записей, соответствующих вашему запросу"
                >
                    <template v-slot:cell(sticker_image)="data">
                        <b-img :src="data.item.sticker_image" fluid alt="Marker image" style="height: 80px; width: 80px;"></b-img>
                    </template>
                    <template v-slot:cell(title)="data">
                        <b-input-group size="sm">
                            <b-form-input :disabled="data.item.id===null" :value="data.item.title"
                                          @blur="save($event.target.value ,data.item.id,'title')"
                                          placeholder="Введите название"></b-form-input>
                        </b-input-group>
                    </template>
                    <template v-slot:cell(institution_id)="data">
                        <b-input-group size="sm">
                            <b-form-input :disabled="data.item.id===null" :value="data.item.institution_id"
                                          @blur="save($event.target.value ,data.item.id,'institution_id')"
                                          placeholder="Введите ID заведения"></b-form-input>
                        </b-input-group>
                    </template>
                    <template v-slot:cell(is_active)="data">
                        <b-input-group size="sm">
                            <label class="c-switch c-switch-label c-switch-pill c-switch-opposite-primary">
                                <input class="c-switch-input" type="checkbox" :disabled="data.item.id===null"
                                       name="is_active" :checked="data.item.is_active"
                                       @change="save($event.target.checked?1:0 ,data.item.id,'is_active')">
                                <span class="c-switch-slider" data-checked="✓" data-unchecked="✕"></span>
                            </label>
                        </b-input-group>
                    </template>

                    <template v-slot:cell(action)="data">
                        <b-input-group size="sm">
                            <b-button @click="remove(data.item.id)" class="btn btn-info mr-1 mb-1"
                                      :disabled="data.item.id===null">
                                <b-icon icon="trash"></b-icon>
                            </b-button>

                            <b-button @click="data.toggleDetails" class="btn btn-info mr-1 mb-1">
                                {{ data.detailsShowing ? 'Скрыть' : 'Показать' }}
                            </b-button>
                        </b-input-group>
                    </template>
                    <template v-slot:row-details="row">
                        <b-card>
                            <div class="row">
                                <div class="col-sm-12 col-md-12  mt-2">
                                    <b-form-group label="Описание" label-size="sm" class="mb-0">
                                        <b-form-textarea
                                            id="textarea"
                                            :value="row.item.description"
                                            @blur="save($event.target.value,row.item.id,'description')"
                                            placeholder="Введите описание"
                                            rows="3"
                                            max-rows="6"
                                        ></b-form-textarea>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6  mt-2">
                                    <b-form-group label="Позиция" label-size="sm" class="mb-0">
                                        <b-form-input type="number" :disabled="row.item.id===null"
                                                      :value="row.item.position"
                                                      @blur="save($event.target.value,row.item.id,'position')"
                                                      :placeholder="'Введите позицию'">
                                        </b-form-input>
                                    </b-form-group>
                                </div>
                                <div class="col-sm-12 col-md-6  mt-2">
                                    <b-form-group label="Ссылка действия" label-size="sm" class="mb-0">
                                        <b-form-input type="text" :disabled="row.item.id===null"
                                                      :value="row.item.action_link"
                                                      @blur="save($event.target.value,row.item.id,'action_link')"
                                                      :placeholder="'Введите ссылку действия'">
                                        </b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 mt-2">
                                    <b-form-group label="Набор картинок" label-size="sm" class="mb-0">
                                        <v-jsoneditor v-model="row.item.image_set" :plus="false" height="200px" @blur="save($event.target.value,row.item.id,'image_set')">
                                        </v-jsoneditor>
                                    </b-form-group>
                                </div>
                            </div>

                        </b-card>
                    </template>
                    <template v-slot:table-busy>
                        <div class="text-center text-primary my-2">
                            <b-spinner class="align-middle"></b-spinner>
                            <strong>Загрузка...</strong>
                        </div>
                    </template>
                </b-table>
            </b-tab>
            <b-tab title="Удаленные">
                <b-row>
                    <b-col lg="6" class="my-1">
                        <b-form-group
                            label="Сортировка"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            label-for="sortBySelect1"
                            class="mb-0"
                        >
                            <b-input-group size="sm">
                                <b-form-select v-model="sortBy1" id="sortBySelect1" :options="sortOptions" class="w-75">
                                    <template v-slot:first>
                                        <option value="">-- none --</option>
                                    </template>
                                </b-form-select>
                                <b-form-select v-model="sortDesc1" size="sm" :disabled="!sortBy1" class="w-25">
                                    <option :value="false">Asc</option>
                                    <option :value="true">Desc</option>
                                </b-form-select>
                            </b-input-group>
                        </b-form-group>
                    </b-col>

                    <b-col lg="6" class="my-1">
                        <b-form-group
                            label="Поиск"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            label-for="filterInput1"
                            class="mb-0"
                        >
                            <b-input-group size="sm">
                                <b-form-input
                                    v-model="filter1"
                                    type="search"
                                    id="filterInput1"
                                    placeholder="Введите для поиска"
                                ></b-form-input>
                                <b-input-group-append>
                                    <b-button :disabled="!filter1" @click="filter1 = ''">Очистить</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>


                    <b-col sm="5" md="6" class="my-1">
                        <b-form-group
                            label="На странице"
                            label-cols-sm="6"
                            label-cols-md="4"
                            label-cols-lg="3"
                            label-align-sm="right"
                            label-size="sm"
                            label-for="perPageSelect1"
                            class="mb-0"
                        >
                            <b-form-select
                                v-model="perPage1"
                                id="perPageSelect1"
                                size="sm"
                                :options="pageOptions"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col sm="7" md="6" class="my-1">
                        <b-pagination
                            v-model="currentPage1"
                            :total-rows="totalRows1"
                            :per-page="perPage1"
                            align="fill"
                            size="sm"
                            class="my-0"
                        ></b-pagination>
                    </b-col>
                </b-row>
                <b-table
                    show-empty
                    small
                    stacked="md"
                    :items="deleted_items"
                    :fields="fields"
                    :current-page="currentPage1"
                    :per-page="perPage1"
                    :filter="filter1"
                    :filterIncludedFields="filterOn1"
                    :sort-by.sync="sortBy1"
                    :sort-desc.sync="sortDesc1"
                    :sort-direction="sortDirection1"
                    @filtered="onFiltered1"
                    :busy="loading"
                    empty-text="Нет записей для отображения"
                    empty-filtered-text="Нет записей, соответствующих вашему запросу"
                >
                    <template v-slot:cell(sticker_image)="data">
                        <b-img :src="data.item.sticker_image" fluid alt="Marker image" style="height: 80px; width: 80px;"></b-img>
                    </template>
                    <template v-slot:cell(title)="data">
                        <b-input-group size="sm">
                            <b-form-input :disabled="data.item.id===null" :value="data.item.title"
                                          @blur="save($event.target.value ,data.item.id,'title')"
                                          placeholder="Введите название"></b-form-input>
                        </b-input-group>
                    </template>
                    <template v-slot:cell(institution_id)="data">
                        <b-input-group size="sm">
                            <b-form-input :disabled="data.item.id===null" :value="data.item.institution_id"
                                          @blur="save($event.target.value ,data.item.id,'institution_id')"
                                          placeholder="Введите ID заведения"></b-form-input>
                        </b-input-group>
                    </template>
                    <template v-slot:cell(is_active)="data">
                        <b-input-group size="sm">
                            <label class="c-switch c-switch-label c-switch-pill c-switch-opposite-primary">
                                <input class="c-switch-input" type="checkbox" :disabled="data.item.id===null"
                                       name="is_active" :checked="data.item.is_active"
                                       @change="save($event.target.checked?1:0 ,data.item.id,'is_active')">
                                <span class="c-switch-slider" data-checked="✓" data-unchecked="✕"></span>
                            </label>
                        </b-input-group>
                    </template>

                    <template v-slot:cell(action)="data">
                        <b-input-group size="sm">
                            <b-button @click="restore(data.item.id)" class="btn btn-info mr-1 mb-1"
                                      :disabled="data.item.id===null">
                                <b-icon icon="plus"></b-icon>
                            </b-button>

                            <b-button @click="data.toggleDetails" class="btn btn-info mr-1 mb-1">
                                {{ data.detailsShowing ? 'Скрыть' : 'Показать' }}
                            </b-button>
                        </b-input-group>
                    </template>
                    <template v-slot:row-details="row">
                        <b-card>
                            <div class="row">
                                <div class="col-sm-12 col-md-12  mt-2">
                                    <b-form-group label="Описание" label-size="sm" class="mb-0">
                                        <b-form-textarea
                                            id="textarea"
                                            :value="row.item.description"
                                            @blur="save($event.target.value,row.item.id,'description')"
                                            placeholder="Введите описание"
                                            rows="3"
                                            max-rows="6"
                                        ></b-form-textarea>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6  mt-2">
                                    <b-form-group label="Позиция" label-size="sm" class="mb-0">
                                        <b-form-input type="number" :disabled="row.item.id===null"
                                                      :value="row.item.position"
                                                      @blur="save($event.target.value,row.item.id,'position')"
                                                      :placeholder="'Введите позицию'">
                                        </b-form-input>
                                    </b-form-group>
                                </div>
                                <div class="col-sm-12 col-md-6  mt-2">
                                    <b-form-group label="Ссылка действия" label-size="sm" class="mb-0">
                                        <b-form-input type="text" :disabled="row.item.id===null"
                                                      :value="row.item.action_link"
                                                      @blur="save($event.target.value,row.item.id,'action_link')"
                                                      :placeholder="'Введите ссылку действия'">
                                        </b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 mt-2">
                                    <b-form-group label="Набор картинок" label-size="sm" class="mb-0">
                                        <v-jsoneditor v-model="row.item.image_set" :plus="false" height="200px" @blur="save($event.target.value,row.item.id,'image_set')">
                                        </v-jsoneditor>
                                    </b-form-group>
                                </div>
                            </div>

                        </b-card>
                    </template>
                    <template v-slot:table-busy>
                        <div class="text-center text-primary my-2">
                            <b-spinner class="align-middle"></b-spinner>
                            <strong>Загрузка...</strong>
                        </div>
                    </template>
                </b-table>
            </b-tab>
        </b-tabs>
    </div>
</template>

<script>
    export default {
        name: "MakersTable",
        data() {
            return {
                sortBy: 'title',
                sortDesc: false,
                fields: [
                    {key: 'sticker_image', label: 'Картинка', sortable: false, sortDirection: 'desc'},
                    {key: 'title', label: 'Название', sortable: true, sortDirection: 'desc'},
                    {key: 'institution_id', label: 'ID заведения', sortable: true, sortDirection: 'desc'},
                    {key: 'is_active', label: 'Активация', sortable: true, sortDirection: 'desc'},
                    {key: 'action', label: 'Действие'},
                ],
                items: [],
                deleted_items:[],

                totalRows: 1,
                currentPage: 1,
                perPage: 5,
                pageOptions: [5, 10, 15, 25, 50, 100],
                sortDirection: 'asc',
                filter: null,
                filterOn: [],

                sortBy1: 'title',
                sortDesc1: false,
                totalRows1: 1,
                currentPage1: 1,
                perPage1: 5,
                sortDirection1: 'asc',
                filter1: null,
                filterOn1: [],

                loading: false,
            }
        },
        computed: {
            sortOptions() {
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return {text: f.label, value: f.key}
                    })
            }
        },
        created() {
            this.loadData()
        },
        methods: {
            async loadData() {
                this.loading = true;
                const response = await axios
                    .get('/admin/marker/all')
                    .then(resp => {
                        this.items = resp.data.items.data;
                        this.deleted_items = resp.data.deleted_items.data
                        console.log(resp.data)
                        this.totalRows = this.items.length;
                        this.totalRows1 = this.deleted_items.length;
                        this.loading = false;
                    });
            },
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            onFiltered1(filteredItems) {
                this.totalRows1 = filteredItems.length
                this.currentPage1 = 1
            },
            async save(value, id, key) {
                const response = await axios
                    .put(`/admin/marker/save/${id}`, {param: key, value: value } ).then(resp => {
                        // this.sendMessage(resp.data.message)
                    });
            },
            remove(id) {
                let foundIndex = this.items.findIndex(x => x.id === id);
                axios
                    .delete(`/admin/marker/${id}`)
                    .then(() => {
                        this.deleted_items.push(this.items[foundIndex]);
                        this.items.splice(foundIndex, 1);
                        // this.sendMessage(resp.data.message)
                        // this.loadData()
                    });
            },
            async restore(id) {
                let foundIndex = this.deleted_items.findIndex(x => x.id === id);
                const response = await axios
                    .post(`/admin/marker/restore/${id}`)
                    .then(resp => {
                        this.items.push(this.deleted_items[foundIndex]);
                        this.deleted_items.splice(foundIndex, 1);
                        // this.sendMessage(resp.data.message)
                        //this.loadData()
                    });
            },
        }
    }
</script>

<style scoped>

</style>
