<template>
    <div class="container">
        <h6>Всего маркеров {{total}}</h6>
              <div class="row">
            <div class="col-12">
                <a href="#" class="btn btn-outline-primary" title="Информация в json" v-b-modal.modal-json><i
                    class="far fa-lightbulb"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12 mt-2" v-for="item in items">
                <marker-item :item="item" v-on:update="load"></marker-item>
            </div>
        </div>

        <b-modal id="modal-json" size="xl" title="JSON Inspector">
            <div class="row">
                <div class="col-12">
                    <pre>{{ jsonstr | pretty }}</pre>
                </div>
            </div>
        </b-modal>

        <div class="row mt-2">
            <div class="col-6">
                <button class="btn btn-outline-primary w-100" v-if="next_page_url" @click="next">next</button>
            </div>
            <div class="col-6">
                <button class="btn btn-outline-primary w-100" v-if="prev_page_url" @click="prev">prev</button>
            </div>
        </div>
    </div>
</template>
<script>
    import MarkerItem from "./MarkerItem";

    export default {
        props: ["user_id"],
        data() {
            return {
                selected_item: null,
                items: [],
                total: 0,
                current_page_url: null,
                first_page_url: null,
                next_page_url: null,
                prev_page_url: null,
                preloader: false,
                jsonstr: null
            }
        },
        mounted() {
            this.load()
        },
        methods: {

            load() {
                window
                    .api
                    .loadMarkerList(this);
            },
            prev() {
                window
                    .api
                    .prev(this)
            },
            next() {
                window
                    .api
                    .next(this)
            },


        },
        components: {
            MarkerItem
        }

    }
</script>
