<template>
    <form v-on:submit.prevent="send">
        <div class="form-group">
            <label>Название маркера</label>
            <input type="text" class="form-control" v-model="form.title" placeholder="Название маркера" required>
        </div>

        <div class="form-group">
            <label>Краткое описание маркера</label>
            <textarea class="form-control" v-model="form.description" placeholder="Описание маркера" required>
            </textarea>
        </div>


        <div class="form-group">
            <label>Изображения-маркеры</label>
            <v-jsoneditor v-model="form.image_set" :options="settings" :plus="false" :height="'400px'"></v-jsoneditor>

        </div>


        <div class="form-group">
            <label>Изображение-подсказка (стикер)</label>
            <input type="text" class="form-control" v-model="form.sticker_image" placeholder="Ссылка на изображение"
                   required>
        </div>

        <div class="form-group">
            <label>Позиция в выдаче локации</label>
            <input type="number" disabled min="0" class="form-control" v-model="form.position"
                   placeholder="Позиция в выдаче"
                   required>
        </div>

        <div class="form-group">
            <label>Ссылка на действие</label>
            <input type="text" class="form-control" v-model="form.title" placeholder="Ссылка на действие" required>
        </div>

        <div class="form-group">
            <label>Триггеры достижений</label>
            <v-jsoneditor v-model="form.action_triggers" :options="settings" :plus="false"
                          :height="'400px'"></v-jsoneditor>

        </div>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success">Отправить</button>
        </div>
    </form>
</template>
<script>
    export default {
        props: {
            item: {
                type: Object,
                required: false
            },
            user_id: {
                type: Number,
                required: false
            }
        },
        data() {
            return {
                settings: {mode: 'code'},
                form: {
                    sticker_image: '',
                    institution_id: null,
                    object_id: null,
                    image_set: [
                        {
                            url: '',
                        }
                    ],
                    is_active: 1,
                    title: '',
                    position: 0,
                    description: '',
                    action_link: '',
                    action_triggers: [
                        {
                            key: 1,
                            value: 10
                        }
                    ],
                    creator_id: null,
                }
            }
        },
        mounted() {
            if (this.item != null) {
                this.form = this.item
                this.form.geo_coords = JSON.parse(this.form.geo_coords)
            }
        },
        methods: {
            send() {
                window
                    .api
                    .saveMarker(this)
            }
        },
    }
</script>
