<template>
    <div class="institution-map">
   <!--     <yandex-map :coords="[54, 40]" :zoom="10" >



                <ymap-marker v-for="marker in markers"
                    marker-type="circle"
                    :coords="marker.coords"
                    circle-radius="50"
                             :markerId="marker.id"
                    hint-content="Hint content 1"
                    :marker-fill="{color: '#000000', opacity: 0.4}"
                    :marker-stroke="{color: '#ff0000', width: 5}"
                    :balloon="{header: marker.title, body: marker.description, footer: 'footer'}"
                ></ymap-marker>



        </yandex-map>-->
    </div>
</template>
<script>
    export default {
            data(){
                return {
                    markers:[
                        {
                            id:1,
                            coords: [54.62896654088406, 39.731893822753904],
                            title:'TEST',
                            description:'Test lorem'

                        },
                        {
                            id:2,
                            coords: [54, 40],
                            title:'TEST 2',
                            description:'Test lorem 2'

                        },
                        {
                            id:3,
                            coords: [54.62896654088406, 39.791893822753904],
                            title:'TEST',
                            description:'Test lorem'

                        },
                        {
                            id:4,
                            coords: [54.62896654088406, 39.831893822753904],
                            title:'TEST',
                            description:'Test lorem'

                        },
                        {
                            id:5,
                            coords: [54.65896654088406, 39.711893822753904],
                            title:'TEST',
                            description:'Test lorem'

                        },
                    ],


                }
            },
        methods:{
                randomId(){
                    return Math.random();
                }
        }
    }
</script>
<style lang="scss">
  .institution-map {
      width:100%;
      height: 100vh;
      .ymap-container {
          width: inherit;
          height: inherit;
      }
  }
</style>
