<template>

    <div class="row">
        <div class="col-12">
            <horizontal-stepper :steps="demoSteps" @completed-step="completeStep" class="stepper-box-2 w-100"
                                @active-step="isStepActive" @stepper-finished="alert"
            >
            </horizontal-stepper>
        </div>

    </div>

</template>
<script>

    import HorizontalStepper from 'vue-stepper';

    // This components will have the content for each stepper step.
    import StepOne from './steps/StepOne.vue';
    import StepTwo from './steps/StepTwo.vue';

    export default {
        components: {
            HorizontalStepper
        },
        data() {
            return {
                demoSteps: [
                    {
                        icon: 'mail',
                        name: 'first',
                        title: 'Создание маркера',
                        subtitle: 'Subtitle sample',
                        component: StepOne,
                        completed: false

                    },
                    {
                        icon: 'report_problem',
                        name: 'second',
                        title: 'Загрузка объекта',
                        subtitle: 'Subtitle sample',
                        component: StepTwo,
                        completed: false
                    },
                    {
                        icon: 'report_problem',
                        name: 'second',
                        title: 'Sample title 2',
                        subtitle: 'Subtitle sample',
                        component: StepTwo,
                        completed: false
                    }
                ]
            }
        },
        methods: {
            // Executed when @completed-step event is triggered
            completeStep(payload) {
                this.demoSteps.forEach((step) => {
                    if (step.name === payload.name) {
                        step.completed = true;
                    }
                })
            },
            // Executed when @active-step event is triggered
            isStepActive(payload) {
                this.demoSteps.forEach((step) => {
                    if (step.name === payload.name) {
                        if (step.completed === true) {
                            step.completed = false;
                        }
                    }
                })
            },
            // Executed when @stepper-finished event is triggered
            alert(payload) {
                alert('end')
            }
        }
    }

</script>
<style>
    .stepper-box-2 {
        box-shadow: none;
    }
</style>
